.mymodal {
    max-width: 40vw!important;
    max-height: 80vw!important;
}

.dialogModal {
    max-width: 40vw!important;
    max-height: 80vw!important;
}

.div-button {
    float: right;
}


/* ----------------------------
upload img */

.dialogModalBill {
    max-width: 55vw!important;
}


/* Fallback for IE
  -------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

.col-12 .col-md-9 {
    float: left;
}

.col-12 .col-md-12 {
    float: left;
}

.slider {
    width: 100%;
    height: 170px;
    background-color: tomato;
}

.title {
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding-left: 120px;
    padding-top: 35px;
}

.desc {
    color: white;
    font-size: 20px;
    padding-left: 120px;
    padding-top: 20px;
}

.Card-Title {
    padding-left: 120px;
}

.forgot.password {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.forgot.password:hover {
    color: blue;
    text-decoration: none;
}

.Register {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.Register:hover {
    color: blue;
    text-decoration: none
}

.content {
    position: relative;
}

.login {
    width: 420px;
    position: absolute;
    right: 30px;
}

.container--sm {
    width: 100%;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-p {
    font-size: 13px;
}


/* ------------------PRODUCT--------------- */

.control-label {
    margin-top: 5px;
}

.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding-left: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    /* transition: all .2s ease; */
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    /* transition: all .2s ease; */
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    /* transition: all .2s ease; */
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    /* margin-top: 20px; */
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    border: 4px dashed #ffffff;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.image_add {
    width: 300px;
    background-image: url('./images/LogoMain.png');
}

.drap-text h6 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
}


/* -----------------CATEGORY--------------- */

.messmodal {
    color: #636363;
    width: 325px;
    font-size: 14px;
    margin-top: 200px;
    height: 200px;
}

.messmodal .icon-box i {
    font-size: 30px;
    position: relative;
    top: 5px;
    margin-left: 5px
}
.messmodal .icon-boxx i {
    font-size: 30px;
    position: relative;
    top: 5px;
    margin-left: 5px
}
.icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.icon-boxx {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 9;
    background: red;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}