.avatar{
    border: 1px solid #CCC;
    overflow: hidden; /** DÒNG BẮT BUỘC CÓ **/
    position: relative;
}

.avatar{
  transition: all 2s;
}

.avatar:hover{
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
}