.mymodal {
    max-width: 40vw!important;
    max-height: 80vw!important;
}

.dialogModal {
    max-width: 40vw!important;
    max-height: 80vw!important;
}

.div-button {
    float: right;
}

/* ----------------------------
upload img */
.dialogModalBill{
    max-width: 41vw!important;
}